<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
              integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" rel="stylesheet">

        {% block extra-css %}{% endblock %}

        <title>{% block page-title %}Star Wars Explorer{% endblock %}</title>
    </head>
    <body>
        {% block messages %}
            {% include "sw_explorer/includes/messages.html" %}
        {% endblock %}

        {% block navigation %}
            {% include "sw_explorer/includes/navigation.html" %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block js %}
            <script crossorigin="anonymous"
                    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
                    src="https://code.jquery.com/jquery-3.6.0.slim.min.js">
            </script>
            <script crossorigin="anonymous"
                    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js">
            </script>
        {% endblock %}
    </body>
</html>
