{% extends "sw_explorer/base.html" %}

{% block content %}
    <h4>{{ object.file_name }}</h4>
    <form>
        <div aria-label="selected_headers" class="btn-group" role="group">
            {% for element in headers_to_count %}
                <input autocomplete="off" class="btn-check" id="btncheck{{ forloop.counter }}" name="selected_headers"
                       type="checkbox" value="{{ element }}">
                <label class="btn btn-outline-primary" for="btncheck{{ forloop.counter }}">{{ element }}</label>
            {% endfor %}
        </div>
        {% if headers_to_count %}
            <hr/>
            <div class="">
                <button class="btn btn-outline-secondary" type="submit">Count</button>
            </div>
        {% endif %}
    </form>

    {% if header %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>No.</th>
                    {% for element in header %}
                        <th scope="col">{{ element }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{ forloop.counter }}.</td>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
