{% extends "sw_explorer/base.html" %}

{% block content %}
    <h4>{{ object.file_name }}</h4>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>No.</th>
                {% for element in header %}
                    <th scope="col">{{ element }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ forloop.counter }}.</td>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% with more_rows=rows_displayed_count|add:'10' %}
        <a href="{% url 'people-collection-detail' pk=object.pk %}?rows={{ more_rows }}" role="button"
           {% if rows_displayed_count >= rows_all_count %} aria-disabled=true {% endif %}
            class="btn btn-primary {% if rows_displayed_count >= rows_all_count %} disabled {% endif %}">
            Load more
        </a>
    {% endwith %}
    <a href="{% url 'people-collection-count' pk=object.pk %}" role="button" class="btn btn-secondary">Count</a>

{% endblock %}
