{% extends "sw_explorer/base.html" %}

{% block content %}
    <main class="container">
        <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Collections</h2>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <form action="" method="post">
                        {% csrf_token %}
                        <button class="btn btn-success" id="btnFetch" type="submit">Fetch</button>
                    </form>
                </div>
            </div>
        </div>

        <ul class="list-group">
            {% for object in object_list %}
                <li class="list-group-item">
                    <a href="{% url 'people-collection-detail' pk=object.pk %}">{{ object.created_at }}</a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $("#btnFetch").click(function(e) {
                e.preventDefault();
                $(this).prop("disabled", true);
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Fetching...`
                );
                $("form").submit();
            });
        });
    </script>
{% endblock %}
